{% extends 'shop/layout.html' %}
{% load static %}
{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box" style=" background-image: url('{% static 'shop/images/building-new-concrete-houses.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'shop/images/ceo.jpeg' %}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 bay">
                    <h2 class="noo-sh-title-top">We are <span>Fandf</span></h2>
                    <p>Fandf Global Ltd is a reputable and registered distributor of cement and various building materials. With extensive experience in the industry, we have established partnerships with numerous construction companies and have aided aspiring entrepreneurs in venturing into the building materials business.</p>
                    <p>Led by Folashade Osigwe, our dedicated team at Fandfglobal is committed to providing comprehensive support, guiding you through the intricacies of the business, and ensuring a streamlined and effortless process for placing orders and managing deliveries.</p>
                    <p>In short, Fandf Global Ltd, under the leadership of Folashade Osigwe, is a leading cement distributor and provider of building materials, offering expert guidance and efficient order and delivery services.</p>
					<a class="btn hvr-hover" href="https://Fandftech.pythonanywhere.com/en/" style="background-color: orange;
    border-radius: 10px;">Read More</a>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner bay">
                        <h3>We are Trusted</h3>
                        <p>We at <b>Fandf</b> At Fandf Global Ltd, trust is our foundation. As a leading registered cement and building materials distributor, we've earned our clients' confidence through reliable service and transparent practices. Led by Folashade Osigwe, our dedicated team ensures smooth orders and deliveries, supporting construction companies and entrepreneurs alike. With Fandf Global Ltd, you're not just getting materials – you're gaining a trusted partner committed to your success. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner bay">
                        <h3>We are Professional</h3>
                        <p>Fandf Global Ltd stands as a beacon of professionalism in cement distribution and building materials. Led by Folashade Osigwe, our team ensures every interaction is marked by expertise and efficiency. Choose us for a truly professional partnership.<p>

<p>Your Trustworthy Source for Building Materials<br>

When it comes to cement and building materials, Fandf Global Ltd is your dedicated professional partner. Under the guidance of Folashade Osigwe, our team's commitment to excellence ensures a seamless experience, from order to delivery. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner bay">
                        <h3>We are Expert</h3>
                        <p>Fandf Global Ltd: Your Expert Building Materials Partner

                           Discover unparalleled expertise with Fandf Global Ltd, your trusted source for top-quality cement and building materials. We bring years of industry knowledge to every order, ensuring your projects receive the expert touch they deserve.</p>

                         <p>Elevate Your Projects with Fandf Global Ltd's Expertise<br>

                           Fandf Global Ltd embodies excellence in cement distribution and building materials. Our seasoned team of experts ensures your needs are met with precision and professionalism, making your projects shine.</p>
                    </div>
                </div>
            </div>
        </p>
    </p>
</div>
</div>
<!--             <div class="row my-4 bay">
                <div class="col-12">
                    <h2 class="noo-sh-title">Meet Our Team</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'shop/images/img.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Chief Executive Officer</h3>
                                <span class="post"><strong>Name</strong></span>
                                <span class="post">CEO</span> 
                            </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas vulputate. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'shop/images/img.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Co-Founder</h3> 
                                <span class="post"><strong>Name</strong></span> 
                                <span class="post">Position</span> 
                            </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas vulputate. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'shop/images/img.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Member-3</h3> <span class="post">Position</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas vulputate. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'shop/images/img.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Member-4</h3> <span class="post">position</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas vulputate. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End About Page -->
{% endblock content %}